@import "nullstyle.css";

#logo {
    color: #000000;
}

#logo:hover {
    color: #000000;
}

#image-col {
    width: 8%;
}

#brand-col, #model-col, #color-col {
    width: 12%;
}

#display-size-col {
    width: 24%;
}

#price-col, #quantity-col, #action-col {
    width: 10%;
}

input[id^="item-quantity-"] {
    width: 100%;
}

div[id^="item-quantity-error-"] {
    color: red;
}

.error {
    color: red;
}

#additional-info {
    height: 128px;
    resize: none;
}

.required:after {
    content: "*";
    color: red;
}

.clip {
    overflow: auto;
    text-overflow: ellipsis;
}